@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif; */
  font-family: kanit, sans-serif; 
}
.label {
  @apply block text-sm font-medium text-gray-600 mb-1;
}

.input {
  @apply w-full px-4 py-2 rounded-3xl border border-gray-300 
         focus:ring-2 focus:ring-blue-200 focus:border-blue-200
         outline-none transition;
}



.button {
  @apply bg-yellow-200 text-yellow-600 px-20 py-2 rounded-3xl
         hover:bg-yellow-300 hover:scale-105
         transition-all duration-300 font-light
         focus:ring-2 focus:ring-yellow-300 
         active:scale-95
         cursor-pointer;
}

.url-link {
  @apply hover:bg-blue-100 hover:text-blue-500 hover:border-r-2 w-full pl-5 p-2 cursor-pointer
}

.content-header{
  @apply text-xl border-b-2
}

.button-plus {
  @apply bg-blue-200 text-blue-500 px-4 py-2 rounded-3xl
         hover:bg-blue-100 font-light
         hover:scale-105
         transition-all duration-300
         focus:ring-2 focus:ring-blue-100 focus:ring-offset-2
         active:scale-95
         cursor-pointer;
}

.button-remove {
  @apply bg-red-200 text-red-500 px-4 py-2 rounded-3xl
         hover:bg-red-300 font-light
         hover:scale-105
         transition-all duration-300
         focus:ring-2 focus:ring-red-100 focus:ring-offset-2
         active:scale-95
         cursor-pointer;
         
}

.button-save {
  @apply bg-green-200 text-green-600 px-4 py-2 rounded-3xl
          hover:bg-green-300 font-light
         hover:scale-105
         transition-all duration-300
         focus:ring-2 focus:ring-green-100 focus:ring-offset-2
         active:scale-95
         cursor-pointer;
}

.table{
  @apply border-collapse rounded-xl overflow-hidden w-full shadow-xl;
}

.table thead {
  @apply bg-gray-50  inset-shadow-xs;
}

.table thead th {
  @apply px-2 md:px-4 md:py-3 text-[10px] font-light md:text-base border-b-2 border-gray-100;
}

.table tbody{
  @apply divide-y divide-white ;
}

.table tbody tr {
  @apply hover:bg-gray-100 ;
}

.table tbody td {
  @apply px-1 py-2 md:px-4 md:py-3 font-light border-b border-b-gray-200;
}

.btn-edit {
  @apply border-2 border-gray-200 text-sky-400 p-1 rounded-lg
         hover:bg-sky-300 hover:border-sky-300 hover:text-sky-600
         transition-all duration-300 font-light
         focus:ring-sky-300 
         cursor-pointer;
}

.btn-delete {
  @apply border-2 border-gray-200 text-red-400 p-1 rounded-lg
         hover:bg-red-300 hover:border-red-300 hover:text-red-600
         transition-all duration-300 font-light
         focus:ring-red-300 
         cursor-pointer;
}

.btn-paginate {
  @apply border-2 border-gray-200 text-blue-400 rounded-lg
         hover:bg-blue-300 hover:border-blue-300 hover:text-blue-600
          font-light shadow-2xl
         focus:ring-gray-300 hover:scale-110
         cursor-pointer;
}

.btn-history {
  @apply border-2 px-2 py-1 bg-stone-500 border-gray-200 text-stone-100  rounded-lg
         hover:bg-stone-300 hover:border-stone-300 hover:text-stone-600
         transition-all duration-300 font-light
         focus:ring-stone-300 
         cursor-pointer;
} 




